/* Style the rectangle box */
.layout2{
  display: inline-block;
}
.tweet-input{
  font-family: 'Roboto', sans-seri
}
.container {
  width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  border: transparent solid;
  display: block;

}

.posting-box {
  background-color: transparent;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.tweet-input {
  width: 70%;
  padding: 10px;
  border: 1px solid silver;
  border-radius: 4px;
  font-size: 16px;
  resize: none; /* Prevent textarea from being resizable */
}

.button-9 {
  appearance: button;
  background-color: #405cf5;
  border-radius: 225px;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 120px;
  font-family: 'Roboto', sans-serif;
}

.button-9:hover {
  background-color: #1d2c7d;
}
.img{
  width: 60px;
  border-radius: 200px;
}



.container_1 {
  width: 170px;
  margin-top: 50px;
  display: inline-block;
  margin-left: 100px;
}
.img_1{
  width:150px;
  margin-right: 10px;
  margin-left: 10px;
}
.user_name{
  margin-top: 10px;
  margin-left: 20px;
  font-weight: bold;
}
.wrap_1{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  .add-btn {
    width: 130px;
    height: 20px;
    padding: 8px 20px;
    background: #f6f7f9;
    border: 1px solid #4b4f56;
    border-radius: 5px;
    cursor: pointer;
  
    .plus {
      width: 16px;
      height: 2px;
      margin-top: 10px;
      background: #4b4f56;
      display: inline-block;
      vertical-align: top;
      transition: transform .5s;
      &:before {
        margin: -7px 0 0 7px;
        content: '';
        position: absolute;
        width: 2px;
        height: 16px;
        background: #4b4f56;
        transition: margin .5s;
      }
      &.tick {
        transform: translateX(6px) rotate(-45deg);
        &:before {
          height: 8px;
          margin: -7px 0 0 0;
        }
      }
    }
    .text {
      margin: 0 5px;
      display: inline-block;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
      line-height: 20px;
      vertical-align: top;
      color: #4b4f56;
      &.move {
        margin: 0 15px;
      }
      > .add-text {
        opacity: 1;
        transition: opacity .5s;
        &.out {
          opacity: 0;
        }
      }
    }
    .user-wrap {
      display: inline-block;
      > i {
        font-size: 20px;
        color: #4b4f56;
        &.two {
          position: absolute;
          margin: -21px 0 0 12px;
          opacity: 0;
          transition: opacity .5s;
          &.in {
            opacity: 1;
          }
        }
      }
    }
  }
}

.comoun_2{
  margin-left: 20px;
}
.container_2 {
  width: 170px;
  margin-left: 20px;
  margin-top: 50px;
  display: inline-block;
}
.img_2{
  width:150px;
  margin-right: 10px;
  margin-left: 10px;
}
.user_name_2{
  margin-top: 10px;
  margin-left: 20px;
  font-weight: bold;
}
.wrap_2{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  .add-btn {
    width: 130px;
    height: 20px;
    padding: 8px 20px;
    background: #f6f7f9;
    border: 1px solid #4b4f56;
    border-radius: 5px;
    cursor: pointer;
  
    .plus {
      width: 16px;
      height: 2px;
      margin-top: 10px;
      background: #4b4f56;
      display: inline-block;
      vertical-align: top;
      transition: transform .5s;
      &:before {
        margin: -7px 0 0 7px;
        content: '';
        position: absolute;
        width: 2px;
        height: 16px;
        background: #4b4f56;
        transition: margin .5s;
      }
      &.tick {
        transform: translateX(6px) rotate(-45deg);
        &:before {
          height: 8px;
          margin: -7px 0 0 0;
        }
      }
    }
    .text {
      margin: 0 5px;
      display: inline-block;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
      line-height: 20px;
      vertical-align: top;
      color: #4b4f56;
      &.move {
        margin: 0 15px;
      }
      > .add-text {
        opacity: 1;
        transition: opacity .5s;
        &.out {
          opacity: 0;
        }
      }
    }
    .user-wrap {
      display: inline-block;
      > i {
        font-size: 20px;
        color: #4b4f56;
        &.two {
          position: absolute;
          margin: -21px 0 0 12px;
          opacity: 0;
          transition: opacity .5s;
          &.in {
            opacity: 1;
          }
        }
      }
    }
  }
}

.comoun_3{
  margin-left: 20px;
}
.container_3{
  width: 170px;
  margin-left: 20px;
  margin-top: 50px;
  display: inline-block;
}
.img_3{
  width:150px;
  margin-right: 10px;
  margin-left: 10px;
}
.user_name_3{
  margin-top: 10px;
  margin-left: 20px;
  font-weight: bold;
}
.wrap_3{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  .add-btn {
    width: 130px;
    height: 20px;
    padding: 8px 20px;
    background: #f6f7f9;
    border: 1px solid #4b4f56;
    border-radius: 5px;
    cursor: pointer;
  
    .plus {
      width: 16px;
      height: 2px;
      margin-top: 10px;
      background: #4b4f56;
      display: inline-block;
      vertical-align: top;
      transition: transform .5s;
      &:before {
        margin: -7px 0 0 7px;
        content: '';
        position: absolute;
        width: 2px;
        height: 16px;
        background: #4b4f56;
        transition: margin .5s;
      }
      &.tick {
        transform: translateX(6px) rotate(-45deg);
        &:before {
          height: 8px;
          margin: -7px 0 0 0;
        }
      }
    }
    .text {
      margin: 0 5px;
      display: inline-block;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
      line-height: 20px;
      vertical-align: top;
      color: #4b4f56;
      &.move {
        margin: 0 15px;
      }
      > .add-text {
        opacity: 1;
        transition: opacity .5s;
        &.out {
          opacity: 0;
        }
      }
    }
    .user-wrap {
      display: inline-block;
      > i {
        font-size: 20px;
        color: #4b4f56;
        &.two {
          position: absolute;
          margin: -21px 0 0 12px;
          opacity: 0;
          transition: opacity .5s;
          &.in {
            opacity: 1;
          }
        }
      }
    }
  }
}
.container_1container_2container_3{
  display: block;
}